{% load static %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <header>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
           <div class="container-fluid-custom">
             <a class="navbar-brand" href="{% url 'polls:index'%}">Home</a></li>
             <a class="navbar-brand" href="{% url 'polls:add'%}">Add question</a></li>
             <a class="navbar-brand" href="{% url 'polls:create_account'%}">Create account</a></li>
           </div>
         </div>
</header>
      {% block content %}
      {% endblock content %}
  </body>
  <footer>
    <small id='signature'><b><i>Made by Hristiyan Bonev</i></b></small>
  </footer>
</html>
