{% extends "polls/base.html" %}
{% load staticfiles %}

{% block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}" />
<script src="{% static 'js/vote.js' %}" ></script>
{% endblock %}

{% block content %}
{% if error_message %}
  <div class='alert alert-danger'>{{ error_message }}</div>
{% endif %}
<div class='detail_view_class'>
  <div class='detail'>
    <h1>Asked question:</h1>
    <div class='question_text'>
      <h2>{{ question.question_text }}</h2>
    </div>


<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
  <div class='answer-list'>
      <input type="radio" name="choice" value="{{ choice.id }}" />
    {{choice.choice_text}}
  </div>
  {% endfor %}
  {% if request.user.is_authenticated %}
    <input type="submit" id='btn_vote' class='btn btn-success' value="Vote" />
  {% else %}
    <h3> Please <a href="/polls/sign_in"><u>login</u></a> or <a href="/polls/sign_up"><u>sign up</u></a> to vote. </h3>
  {% endif %}
</form>
</div>

<div class='creator_details'>
  <i>Created by <b>{{ question.creator }}</b></i> <br/>on <br/><b> {{ question.pub_date }}</b><br/>
</div></div>
{% endblock content %}
