{% extends "polls/base.html" %}
{% load staticfiles%}

{% block styles%}

<link rel="stylesheet" type="text/css" href="{% static 'css/sign_up.css' %}" />
{% endblock %}

{% block content %}
<h1>Account creation</h1>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action='{% url "polls:create_account" %}' method="POST">
{% csrf_token %}

{{form.as_p}}
<script src='https://www.google.com/recaptcha/api.js'></script>
<br/><br/><br/>
<div class="g-recaptcha" data-sitekey="6Ldw3VkUAAAAADBAs2iVjtTBmzYrQub9S74nqH9F"></div>
<br/><br/>
    <input type="submit" id='add_button' value="Create account" />
</form>

{% endblock %}
