{% extends "polls/base.html" %}
{% load staticfiles%}

{% block styles%}

<link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}" />
{% endblock %}

{% block content %}
<h1> Log In </h1>
{% autoescape off %}
{% for message in messages %}
  <div class='alert alert-{{message.tags}}'> {{message}} </div>
{% endfor %}
{% endautoescape %}
</div>
<form action='{% url "polls:sign_in" %}' method="POST">
{% csrf_token %}

{{form.as_p}}
<br/><br/>
    <input type="submit" id='sign_in_button' value="Sign in" />
</form>

{% endblock %}
