{% extends "polls/base.html" %}
{% load staticfiles%}

{% block styles%}

<link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}" />
{% endblock %}

{% block content %}
<h1> Log In </h1>
{% if error_message %}
<div id='error_message' class="alert alert-danger">
{{ error_message }}
{% endif %}
</div>
<form action='{% url "polls:sign_in" %}' method="POST">
{% csrf_token %}

{{form.as_p}}
<br/><br/>
    <input type="submit" id='sign_in_button' value="Sign in" />
</form>

{% endblock %}
