{% extends "polls/base.html" %}
{% load staticfiles%}

{% block styles%}

<link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}" />
{% endblock %}

{% block content %}
<h1> You can create your account here </h1>
<b>{% if error_message %}</b>
<div class='alert alert-danger'>
{{ error_message }}
</div>
{% endif %}

<form action='{% url "polls:create_account" %}' method="POST">
{% csrf_token %}

{{form.as_p}}
<br/><br/>
    <input type="submit" id='add_button' value="Create account" />
</form>

{% endblock %}
